<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webank.ai.fate.board.dao.ExperimentMapper">
    <resultMap id="BaseResultMap" type="com.webank.ai.fate.board.pojo.Experiment">
        <id column="f_eid" jdbcType="INTEGER" property="fEid"/>
        <result column="f_pid" jdbcType="INTEGER" property="fPid"/>
        <result column="f_ename" jdbcType="VARCHAR" property="fEname"/>
        <result column="f_edesc" jdbcType="VARCHAR" property="fEdesc"/>
        <result column="f_dataset" jdbcType="VARCHAR" property="fDataset"/>
        <result column="f_partner_dataset" jdbcType="VARCHAR" property="fPartnerDataset"/>
        <result column="f_create_time" jdbcType="TIMESTAMP" property="fCreateTime"/>
        <result column="f_update_time" jdbcType="TIMESTAMP" property="fUpdateTime"/>
        <result column="f_status" jdbcType="SMALLINT" property="fStatus"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.webank.ai.fate.board.pojo.ExperimentWithBLOBs">
        <result column="f_dag_config" jdbcType="LONGVARCHAR" property="fDagConfig"/>
        <result column="f_config" jdbcType="LONGVARCHAR" property="fConfig"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        f_eid, f_pid, f_ename, f_edesc, f_dataset, f_partner_dataset, f_create_time, f_update_time,
        f_status
    </sql>
    <sql id="Blob_Column_List">
        f_dag_config, f_config
    </sql>
    <select id="selectByExampleWithBLOBs" parameterType="com.webank.ai.fate.board.pojo.ExperimentExample"
            resultMap="ResultMapWithBLOBs">
        select
        <if test="distinct">
            distinct
        </if>
        'true' as QUERYID,
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from t_experiment
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByExample" parameterType="com.webank.ai.fate.board.pojo.ExperimentExample"
            resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        'true' as QUERYID,
        <include refid="Base_Column_List"/>
        from t_experiment
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from t_experiment
        where f_eid = #{fEid,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from t_experiment
        where f_eid = #{fEid,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByExample" parameterType="com.webank.ai.fate.board.pojo.ExperimentExample">
        delete from t_experiment
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.webank.ai.fate.board.pojo.ExperimentWithBLOBs">
        insert into t_experiment (f_eid, f_pid, f_ename,
        f_edesc, f_dataset, f_partner_dataset,
        f_create_time, f_update_time, f_status,
        f_dag_config, f_config)
        values (#{fEid,jdbcType=INTEGER}, #{fPid,jdbcType=INTEGER}, #{fEname,jdbcType=VARCHAR},
        #{fEdesc,jdbcType=VARCHAR}, #{fDataset,jdbcType=VARCHAR}, #{fPartnerDataset,jdbcType=VARCHAR},
        #{fCreateTime,jdbcType=TIMESTAMP}, #{fUpdateTime,jdbcType=TIMESTAMP}, #{fStatus,jdbcType=SMALLINT},
        #{fDagConfig,jdbcType=LONGVARCHAR}, #{fConfig,jdbcType=LONGVARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.webank.ai.fate.board.pojo.ExperimentWithBLOBs">
        insert into t_experiment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="fEid != null">
                f_eid,
            </if>
            <if test="fPid != null">
                f_pid,
            </if>
            <if test="fEname != null">
                f_ename,
            </if>
            <if test="fEdesc != null">
                f_edesc,
            </if>
            <if test="fDataset != null">
                f_dataset,
            </if>
            <if test="fPartnerDataset != null">
                f_partner_dataset,
            </if>
            <if test="fCreateTime != null">
                f_create_time,
            </if>
            <if test="fUpdateTime != null">
                f_update_time,
            </if>
            <if test="fStatus != null">
                f_status,
            </if>
            <if test="fDagConfig != null">
                f_dag_config,
            </if>
            <if test="fConfig != null">
                f_config,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="fEid != null">
                #{fEid,jdbcType=INTEGER},
            </if>
            <if test="fPid != null">
                #{fPid,jdbcType=INTEGER},
            </if>
            <if test="fEname != null">
                #{fEname,jdbcType=VARCHAR},
            </if>
            <if test="fEdesc != null">
                #{fEdesc,jdbcType=VARCHAR},
            </if>
            <if test="fDataset != null">
                #{fDataset,jdbcType=VARCHAR},
            </if>
            <if test="fPartnerDataset != null">
                #{fPartnerDataset,jdbcType=VARCHAR},
            </if>
            <if test="fCreateTime != null">
                #{fCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="fUpdateTime != null">
                #{fUpdateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="fStatus != null">
                #{fStatus,jdbcType=SMALLINT},
            </if>
            <if test="fDagConfig != null">
                #{fDagConfig,jdbcType=LONGVARCHAR},
            </if>
            <if test="fConfig != null">
                #{fConfig,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.webank.ai.fate.board.pojo.ExperimentExample"
            resultType="java.lang.Long">
        select count(*) from t_experiment
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update t_experiment
        <set>
            <if test="record.fEid != null">
                f_eid = #{record.fEid,jdbcType=INTEGER},
            </if>
            <if test="record.fPid != null">
                f_pid = #{record.fPid,jdbcType=INTEGER},
            </if>
            <if test="record.fEname != null">
                f_ename = #{record.fEname,jdbcType=VARCHAR},
            </if>
            <if test="record.fEdesc != null">
                f_edesc = #{record.fEdesc,jdbcType=VARCHAR},
            </if>
            <if test="record.fDataset != null">
                f_dataset = #{record.fDataset,jdbcType=VARCHAR},
            </if>
            <if test="record.fPartnerDataset != null">
                f_partner_dataset = #{record.fPartnerDataset,jdbcType=VARCHAR},
            </if>
            <if test="record.fCreateTime != null">
                f_create_time = #{record.fCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.fUpdateTime != null">
                f_update_time = #{record.fUpdateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.fStatus != null">
                f_status = #{record.fStatus,jdbcType=SMALLINT},
            </if>
            <if test="record.fDagConfig != null">
                f_dag_config = #{record.fDagConfig,jdbcType=LONGVARCHAR},
            </if>
            <if test="record.fConfig != null">
                f_config = #{record.fConfig,jdbcType=LONGVARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExampleWithBLOBs" parameterType="map">
        update t_experiment
        set f_eid = #{record.fEid,jdbcType=INTEGER},
        f_pid = #{record.fPid,jdbcType=INTEGER},
        f_ename = #{record.fEname,jdbcType=VARCHAR},
        f_edesc = #{record.fEdesc,jdbcType=VARCHAR},
        f_dataset = #{record.fDataset,jdbcType=VARCHAR},
        f_partner_dataset = #{record.fPartnerDataset,jdbcType=VARCHAR},
        f_create_time = #{record.fCreateTime,jdbcType=TIMESTAMP},
        f_update_time = #{record.fUpdateTime,jdbcType=TIMESTAMP},
        f_status = #{record.fStatus,jdbcType=SMALLINT},
        f_dag_config = #{record.fDagConfig,jdbcType=LONGVARCHAR},
        f_config = #{record.fConfig,jdbcType=LONGVARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update t_experiment
        set f_eid = #{record.fEid,jdbcType=INTEGER},
        f_pid = #{record.fPid,jdbcType=INTEGER},
        f_ename = #{record.fEname,jdbcType=VARCHAR},
        f_edesc = #{record.fEdesc,jdbcType=VARCHAR},
        f_dataset = #{record.fDataset,jdbcType=VARCHAR},
        f_partner_dataset = #{record.fPartnerDataset,jdbcType=VARCHAR},
        f_create_time = #{record.fCreateTime,jdbcType=TIMESTAMP},
        f_update_time = #{record.fUpdateTime,jdbcType=TIMESTAMP},
        f_status = #{record.fStatus,jdbcType=SMALLINT}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.webank.ai.fate.board.pojo.ExperimentWithBLOBs">
        update t_experiment
        <set>
            <if test="fPid != null">
                f_pid = #{fPid,jdbcType=INTEGER},
            </if>
            <if test="fEname != null">
                f_ename = #{fEname,jdbcType=VARCHAR},
            </if>
            <if test="fEdesc != null">
                f_edesc = #{fEdesc,jdbcType=VARCHAR},
            </if>
            <if test="fDataset != null">
                f_dataset = #{fDataset,jdbcType=VARCHAR},
            </if>
            <if test="fPartnerDataset != null">
                f_partner_dataset = #{fPartnerDataset,jdbcType=VARCHAR},
            </if>
            <if test="fCreateTime != null">
                f_create_time = #{fCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="fUpdateTime != null">
                f_update_time = #{fUpdateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="fStatus != null">
                f_status = #{fStatus,jdbcType=SMALLINT},
            </if>
            <if test="fDagConfig != null">
                f_dag_config = #{fDagConfig,jdbcType=LONGVARCHAR},
            </if>
            <if test="fConfig != null">
                f_config = #{fConfig,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where f_eid = #{fEid,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.webank.ai.fate.board.pojo.ExperimentWithBLOBs">
        update t_experiment
        set f_pid = #{fPid,jdbcType=INTEGER},
        f_ename = #{fEname,jdbcType=VARCHAR},
        f_edesc = #{fEdesc,jdbcType=VARCHAR},
        f_dataset = #{fDataset,jdbcType=VARCHAR},
        f_partner_dataset = #{fPartnerDataset,jdbcType=VARCHAR},
        f_create_time = #{fCreateTime,jdbcType=TIMESTAMP},
        f_update_time = #{fUpdateTime,jdbcType=TIMESTAMP},
        f_status = #{fStatus,jdbcType=SMALLINT},
        f_dag_config = #{fDagConfig,jdbcType=LONGVARCHAR},
        f_config = #{fConfig,jdbcType=LONGVARCHAR}
        where f_eid = #{fEid,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.webank.ai.fate.board.pojo.Experiment">
        update t_experiment
        set f_pid = #{fPid,jdbcType=INTEGER},
        f_ename = #{fEname,jdbcType=VARCHAR},
        f_edesc = #{fEdesc,jdbcType=VARCHAR},
        f_dataset = #{fDataset,jdbcType=VARCHAR},
        f_partner_dataset = #{fPartnerDataset,jdbcType=VARCHAR},
        f_create_time = #{fCreateTime,jdbcType=TIMESTAMP},
        f_update_time = #{fUpdateTime,jdbcType=TIMESTAMP},
        f_status = #{fStatus,jdbcType=SMALLINT}
        where f_eid = #{fEid,jdbcType=INTEGER}
    </update>
    <resultMap id="BaseResultMap" type="com.webank.ai.fate.board.pojo.Experiment">
        <id column="f_eid" jdbcType="INTEGER" property="fEid"/>
        <result column="f_pid" jdbcType="INTEGER" property="fPid"/>
        <result column="f_ename" jdbcType="VARCHAR" property="fEname"/>
        <result column="f_edesc" jdbcType="VARCHAR" property="fEdesc"/>
        <result column="f_dataset" jdbcType="VARCHAR" property="fDataset"/>
        <result column="f_partner_dataset" jdbcType="VARCHAR" property="fPartnerDataset"/>
        <result column="f_create_time" jdbcType="TIMESTAMP" property="fCreateTime"/>
        <result column="f_update_time" jdbcType="TIMESTAMP" property="fUpdateTime"/>
        <result column="f_status" jdbcType="SMALLINT" property="fStatus"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.webank.ai.fate.board.pojo.ExperimentWithBLOBs">
        <result column="f_dag_config" jdbcType="LONGVARCHAR" property="fDagConfig"/>
        <result column="f_config" jdbcType="LONGVARCHAR" property="fConfig"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        f_eid, f_pid, f_ename, f_edesc, f_dataset, f_partner_dataset, f_create_time, f_update_time,
        f_status
    </sql>
    <sql id="Blob_Column_List">
        f_dag_config, f_config
    </sql>
    <select id="selectByExampleWithBLOBs" parameterType="com.webank.ai.fate.board.pojo.ExperimentExample"
            resultMap="ResultMapWithBLOBs">
        select
        <if test="distinct">
            distinct
        </if>
        'true' as QUERYID,
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from t_experiment
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByExample" parameterType="com.webank.ai.fate.board.pojo.ExperimentExample"
            resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        'true' as QUERYID,
        <include refid="Base_Column_List"/>
        from t_experiment
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from t_experiment
        where f_eid = #{fEid,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from t_experiment
        where f_eid = #{fEid,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByExample" parameterType="com.webank.ai.fate.board.pojo.ExperimentExample">
        delete from t_experiment
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.webank.ai.fate.board.pojo.ExperimentWithBLOBs">
        insert into t_experiment (f_eid, f_pid, f_ename,
        f_edesc, f_dataset, f_partner_dataset,
        f_create_time, f_update_time, f_status,
        f_dag_config, f_config)
        values (#{fEid,jdbcType=INTEGER}, #{fPid,jdbcType=INTEGER}, #{fEname,jdbcType=VARCHAR},
        #{fEdesc,jdbcType=VARCHAR}, #{fDataset,jdbcType=VARCHAR}, #{fPartnerDataset,jdbcType=VARCHAR},
        #{fCreateTime,jdbcType=TIMESTAMP}, #{fUpdateTime,jdbcType=TIMESTAMP}, #{fStatus,jdbcType=SMALLINT},
        #{fDagConfig,jdbcType=LONGVARCHAR}, #{fConfig,jdbcType=LONGVARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.webank.ai.fate.board.pojo.ExperimentWithBLOBs">
        insert into t_experiment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="fEid != null">
                f_eid,
            </if>
            <if test="fPid != null">
                f_pid,
            </if>
            <if test="fEname != null">
                f_ename,
            </if>
            <if test="fEdesc != null">
                f_edesc,
            </if>
            <if test="fDataset != null">
                f_dataset,
            </if>
            <if test="fPartnerDataset != null">
                f_partner_dataset,
            </if>
            <if test="fCreateTime != null">
                f_create_time,
            </if>
            <if test="fUpdateTime != null">
                f_update_time,
            </if>
            <if test="fStatus != null">
                f_status,
            </if>
            <if test="fDagConfig != null">
                f_dag_config,
            </if>
            <if test="fConfig != null">
                f_config,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="fEid != null">
                #{fEid,jdbcType=INTEGER},
            </if>
            <if test="fPid != null">
                #{fPid,jdbcType=INTEGER},
            </if>
            <if test="fEname != null">
                #{fEname,jdbcType=VARCHAR},
            </if>
            <if test="fEdesc != null">
                #{fEdesc,jdbcType=VARCHAR},
            </if>
            <if test="fDataset != null">
                #{fDataset,jdbcType=VARCHAR},
            </if>
            <if test="fPartnerDataset != null">
                #{fPartnerDataset,jdbcType=VARCHAR},
            </if>
            <if test="fCreateTime != null">
                #{fCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="fUpdateTime != null">
                #{fUpdateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="fStatus != null">
                #{fStatus,jdbcType=SMALLINT},
            </if>
            <if test="fDagConfig != null">
                #{fDagConfig,jdbcType=LONGVARCHAR},
            </if>
            <if test="fConfig != null">
                #{fConfig,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.webank.ai.fate.board.pojo.ExperimentExample"
            resultType="java.lang.Long">
        select count(*) from t_experiment
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update t_experiment
        <set>
            <if test="record.fEid != null">
                f_eid = #{record.fEid,jdbcType=INTEGER},
            </if>
            <if test="record.fPid != null">
                f_pid = #{record.fPid,jdbcType=INTEGER},
            </if>
            <if test="record.fEname != null">
                f_ename = #{record.fEname,jdbcType=VARCHAR},
            </if>
            <if test="record.fEdesc != null">
                f_edesc = #{record.fEdesc,jdbcType=VARCHAR},
            </if>
            <if test="record.fDataset != null">
                f_dataset = #{record.fDataset,jdbcType=VARCHAR},
            </if>
            <if test="record.fPartnerDataset != null">
                f_partner_dataset = #{record.fPartnerDataset,jdbcType=VARCHAR},
            </if>
            <if test="record.fCreateTime != null">
                f_create_time = #{record.fCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.fUpdateTime != null">
                f_update_time = #{record.fUpdateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.fStatus != null">
                f_status = #{record.fStatus,jdbcType=SMALLINT},
            </if>
            <if test="record.fDagConfig != null">
                f_dag_config = #{record.fDagConfig,jdbcType=LONGVARCHAR},
            </if>
            <if test="record.fConfig != null">
                f_config = #{record.fConfig,jdbcType=LONGVARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExampleWithBLOBs" parameterType="map">
        update t_experiment
        set f_eid = #{record.fEid,jdbcType=INTEGER},
        f_pid = #{record.fPid,jdbcType=INTEGER},
        f_ename = #{record.fEname,jdbcType=VARCHAR},
        f_edesc = #{record.fEdesc,jdbcType=VARCHAR},
        f_dataset = #{record.fDataset,jdbcType=VARCHAR},
        f_partner_dataset = #{record.fPartnerDataset,jdbcType=VARCHAR},
        f_create_time = #{record.fCreateTime,jdbcType=TIMESTAMP},
        f_update_time = #{record.fUpdateTime,jdbcType=TIMESTAMP},
        f_status = #{record.fStatus,jdbcType=SMALLINT},
        f_dag_config = #{record.fDagConfig,jdbcType=LONGVARCHAR},
        f_config = #{record.fConfig,jdbcType=LONGVARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update t_experiment
        set f_eid = #{record.fEid,jdbcType=INTEGER},
        f_pid = #{record.fPid,jdbcType=INTEGER},
        f_ename = #{record.fEname,jdbcType=VARCHAR},
        f_edesc = #{record.fEdesc,jdbcType=VARCHAR},
        f_dataset = #{record.fDataset,jdbcType=VARCHAR},
        f_partner_dataset = #{record.fPartnerDataset,jdbcType=VARCHAR},
        f_create_time = #{record.fCreateTime,jdbcType=TIMESTAMP},
        f_update_time = #{record.fUpdateTime,jdbcType=TIMESTAMP},
        f_status = #{record.fStatus,jdbcType=SMALLINT}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.webank.ai.fate.board.pojo.ExperimentWithBLOBs">
        update t_experiment
        <set>
            <if test="fPid != null">
                f_pid = #{fPid,jdbcType=INTEGER},
            </if>
            <if test="fEname != null">
                f_ename = #{fEname,jdbcType=VARCHAR},
            </if>
            <if test="fEdesc != null">
                f_edesc = #{fEdesc,jdbcType=VARCHAR},
            </if>
            <if test="fDataset != null">
                f_dataset = #{fDataset,jdbcType=VARCHAR},
            </if>
            <if test="fPartnerDataset != null">
                f_partner_dataset = #{fPartnerDataset,jdbcType=VARCHAR},
            </if>
            <if test="fCreateTime != null">
                f_create_time = #{fCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="fUpdateTime != null">
                f_update_time = #{fUpdateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="fStatus != null">
                f_status = #{fStatus,jdbcType=SMALLINT},
            </if>
            <if test="fDagConfig != null">
                f_dag_config = #{fDagConfig,jdbcType=LONGVARCHAR},
            </if>
            <if test="fConfig != null">
                f_config = #{fConfig,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where f_eid = #{fEid,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.webank.ai.fate.board.pojo.ExperimentWithBLOBs">
        update t_experiment
        set f_pid = #{fPid,jdbcType=INTEGER},
        f_ename = #{fEname,jdbcType=VARCHAR},
        f_edesc = #{fEdesc,jdbcType=VARCHAR},
        f_dataset = #{fDataset,jdbcType=VARCHAR},
        f_partner_dataset = #{fPartnerDataset,jdbcType=VARCHAR},
        f_create_time = #{fCreateTime,jdbcType=TIMESTAMP},
        f_update_time = #{fUpdateTime,jdbcType=TIMESTAMP},
        f_status = #{fStatus,jdbcType=SMALLINT},
        f_dag_config = #{fDagConfig,jdbcType=LONGVARCHAR},
        f_config = #{fConfig,jdbcType=LONGVARCHAR}
        where f_eid = #{fEid,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.webank.ai.fate.board.pojo.Experiment">
        update t_experiment
        set f_pid = #{fPid,jdbcType=INTEGER},
        f_ename = #{fEname,jdbcType=VARCHAR},
        f_edesc = #{fEdesc,jdbcType=VARCHAR},
        f_dataset = #{fDataset,jdbcType=VARCHAR},
        f_partner_dataset = #{fPartnerDataset,jdbcType=VARCHAR},
        f_create_time = #{fCreateTime,jdbcType=TIMESTAMP},
        f_update_time = #{fUpdateTime,jdbcType=TIMESTAMP},
        f_status = #{fStatus,jdbcType=SMALLINT}
        where f_eid = #{fEid,jdbcType=INTEGER}
    </update>
    <resultMap id="BaseResultMap" type="com.webank.ai.fate.board.pojo.Experiment">
        <id column="f_eid" jdbcType="INTEGER" property="fEid"/>
        <result column="f_pid" jdbcType="INTEGER" property="fPid"/>
        <result column="f_ename" jdbcType="VARCHAR" property="fEname"/>
        <result column="f_edesc" jdbcType="VARCHAR" property="fEdesc"/>
        <result column="f_dataset" jdbcType="VARCHAR" property="fDataset"/>
        <result column="f_partner_dataset" jdbcType="VARCHAR" property="fPartnerDataset"/>
        <result column="f_create_time" jdbcType="TIMESTAMP" property="fCreateTime"/>
        <result column="f_update_time" jdbcType="TIMESTAMP" property="fUpdateTime"/>
        <result column="f_status" jdbcType="SMALLINT" property="fStatus"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.webank.ai.fate.board.pojo.ExperimentWithBLOBs">
        <result column="f_dag_config" jdbcType="LONGVARCHAR" property="fDagConfig"/>
        <result column="f_config" jdbcType="LONGVARCHAR" property="fConfig"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        f_eid, f_pid, f_ename, f_edesc, f_dataset, f_partner_dataset, f_create_time, f_update_time,
        f_status
    </sql>
    <sql id="Blob_Column_List">
        f_dag_config, f_config
    </sql>
    <select id="selectByExampleWithBLOBs" parameterType="com.webank.ai.fate.board.pojo.ExperimentExample"
            resultMap="ResultMapWithBLOBs">
        select
        <if test="distinct">
            distinct
        </if>
        'true' as QUERYID,
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from t_experiment
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByExample" parameterType="com.webank.ai.fate.board.pojo.ExperimentExample"
            resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        'true' as QUERYID,
        <include refid="Base_Column_List"/>
        from t_experiment
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from t_experiment
        where f_eid = #{fEid,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from t_experiment
        where f_eid = #{fEid,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByExample" parameterType="com.webank.ai.fate.board.pojo.ExperimentExample">
        delete from t_experiment
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.webank.ai.fate.board.pojo.ExperimentWithBLOBs">
        insert into t_experiment (f_eid, f_pid, f_ename,
        f_edesc, f_dataset, f_partner_dataset,
        f_create_time, f_update_time, f_status,
        f_dag_config, f_config)
        values (#{fEid,jdbcType=INTEGER}, #{fPid,jdbcType=INTEGER}, #{fEname,jdbcType=VARCHAR},
        #{fEdesc,jdbcType=VARCHAR}, #{fDataset,jdbcType=VARCHAR}, #{fPartnerDataset,jdbcType=VARCHAR},
        #{fCreateTime,jdbcType=TIMESTAMP}, #{fUpdateTime,jdbcType=TIMESTAMP}, #{fStatus,jdbcType=SMALLINT},
        #{fDagConfig,jdbcType=LONGVARCHAR}, #{fConfig,jdbcType=LONGVARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.webank.ai.fate.board.pojo.ExperimentWithBLOBs">
        insert into t_experiment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="fEid != null">
                f_eid,
            </if>
            <if test="fPid != null">
                f_pid,
            </if>
            <if test="fEname != null">
                f_ename,
            </if>
            <if test="fEdesc != null">
                f_edesc,
            </if>
            <if test="fDataset != null">
                f_dataset,
            </if>
            <if test="fPartnerDataset != null">
                f_partner_dataset,
            </if>
            <if test="fCreateTime != null">
                f_create_time,
            </if>
            <if test="fUpdateTime != null">
                f_update_time,
            </if>
            <if test="fStatus != null">
                f_status,
            </if>
            <if test="fDagConfig != null">
                f_dag_config,
            </if>
            <if test="fConfig != null">
                f_config,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="fEid != null">
                #{fEid,jdbcType=INTEGER},
            </if>
            <if test="fPid != null">
                #{fPid,jdbcType=INTEGER},
            </if>
            <if test="fEname != null">
                #{fEname,jdbcType=VARCHAR},
            </if>
            <if test="fEdesc != null">
                #{fEdesc,jdbcType=VARCHAR},
            </if>
            <if test="fDataset != null">
                #{fDataset,jdbcType=VARCHAR},
            </if>
            <if test="fPartnerDataset != null">
                #{fPartnerDataset,jdbcType=VARCHAR},
            </if>
            <if test="fCreateTime != null">
                #{fCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="fUpdateTime != null">
                #{fUpdateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="fStatus != null">
                #{fStatus,jdbcType=SMALLINT},
            </if>
            <if test="fDagConfig != null">
                #{fDagConfig,jdbcType=LONGVARCHAR},
            </if>
            <if test="fConfig != null">
                #{fConfig,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.webank.ai.fate.board.pojo.ExperimentExample"
            resultType="java.lang.Long">
        select count(*) from t_experiment
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update t_experiment
        <set>
            <if test="record.fEid != null">
                f_eid = #{record.fEid,jdbcType=INTEGER},
            </if>
            <if test="record.fPid != null">
                f_pid = #{record.fPid,jdbcType=INTEGER},
            </if>
            <if test="record.fEname != null">
                f_ename = #{record.fEname,jdbcType=VARCHAR},
            </if>
            <if test="record.fEdesc != null">
                f_edesc = #{record.fEdesc,jdbcType=VARCHAR},
            </if>
            <if test="record.fDataset != null">
                f_dataset = #{record.fDataset,jdbcType=VARCHAR},
            </if>
            <if test="record.fPartnerDataset != null">
                f_partner_dataset = #{record.fPartnerDataset,jdbcType=VARCHAR},
            </if>
            <if test="record.fCreateTime != null">
                f_create_time = #{record.fCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.fUpdateTime != null">
                f_update_time = #{record.fUpdateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.fStatus != null">
                f_status = #{record.fStatus,jdbcType=SMALLINT},
            </if>
            <if test="record.fDagConfig != null">
                f_dag_config = #{record.fDagConfig,jdbcType=LONGVARCHAR},
            </if>
            <if test="record.fConfig != null">
                f_config = #{record.fConfig,jdbcType=LONGVARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExampleWithBLOBs" parameterType="map">
        update t_experiment
        set f_eid = #{record.fEid,jdbcType=INTEGER},
        f_pid = #{record.fPid,jdbcType=INTEGER},
        f_ename = #{record.fEname,jdbcType=VARCHAR},
        f_edesc = #{record.fEdesc,jdbcType=VARCHAR},
        f_dataset = #{record.fDataset,jdbcType=VARCHAR},
        f_partner_dataset = #{record.fPartnerDataset,jdbcType=VARCHAR},
        f_create_time = #{record.fCreateTime,jdbcType=TIMESTAMP},
        f_update_time = #{record.fUpdateTime,jdbcType=TIMESTAMP},
        f_status = #{record.fStatus,jdbcType=SMALLINT},
        f_dag_config = #{record.fDagConfig,jdbcType=LONGVARCHAR},
        f_config = #{record.fConfig,jdbcType=LONGVARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update t_experiment
        set f_eid = #{record.fEid,jdbcType=INTEGER},
        f_pid = #{record.fPid,jdbcType=INTEGER},
        f_ename = #{record.fEname,jdbcType=VARCHAR},
        f_edesc = #{record.fEdesc,jdbcType=VARCHAR},
        f_dataset = #{record.fDataset,jdbcType=VARCHAR},
        f_partner_dataset = #{record.fPartnerDataset,jdbcType=VARCHAR},
        f_create_time = #{record.fCreateTime,jdbcType=TIMESTAMP},
        f_update_time = #{record.fUpdateTime,jdbcType=TIMESTAMP},
        f_status = #{record.fStatus,jdbcType=SMALLINT}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.webank.ai.fate.board.pojo.ExperimentWithBLOBs">
        update t_experiment
        <set>
            <if test="fPid != null">
                f_pid = #{fPid,jdbcType=INTEGER},
            </if>
            <if test="fEname != null">
                f_ename = #{fEname,jdbcType=VARCHAR},
            </if>
            <if test="fEdesc != null">
                f_edesc = #{fEdesc,jdbcType=VARCHAR},
            </if>
            <if test="fDataset != null">
                f_dataset = #{fDataset,jdbcType=VARCHAR},
            </if>
            <if test="fPartnerDataset != null">
                f_partner_dataset = #{fPartnerDataset,jdbcType=VARCHAR},
            </if>
            <if test="fCreateTime != null">
                f_create_time = #{fCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="fUpdateTime != null">
                f_update_time = #{fUpdateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="fStatus != null">
                f_status = #{fStatus,jdbcType=SMALLINT},
            </if>
            <if test="fDagConfig != null">
                f_dag_config = #{fDagConfig,jdbcType=LONGVARCHAR},
            </if>
            <if test="fConfig != null">
                f_config = #{fConfig,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where f_eid = #{fEid,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.webank.ai.fate.board.pojo.ExperimentWithBLOBs">
        update t_experiment
        set f_pid = #{fPid,jdbcType=INTEGER},
        f_ename = #{fEname,jdbcType=VARCHAR},
        f_edesc = #{fEdesc,jdbcType=VARCHAR},
        f_dataset = #{fDataset,jdbcType=VARCHAR},
        f_partner_dataset = #{fPartnerDataset,jdbcType=VARCHAR},
        f_create_time = #{fCreateTime,jdbcType=TIMESTAMP},
        f_update_time = #{fUpdateTime,jdbcType=TIMESTAMP},
        f_status = #{fStatus,jdbcType=SMALLINT},
        f_dag_config = #{fDagConfig,jdbcType=LONGVARCHAR},
        f_config = #{fConfig,jdbcType=LONGVARCHAR}
        where f_eid = #{fEid,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.webank.ai.fate.board.pojo.Experiment">
        update t_experiment
        set f_pid = #{fPid,jdbcType=INTEGER},
        f_ename = #{fEname,jdbcType=VARCHAR},
        f_edesc = #{fEdesc,jdbcType=VARCHAR},
        f_dataset = #{fDataset,jdbcType=VARCHAR},
        f_partner_dataset = #{fPartnerDataset,jdbcType=VARCHAR},
        f_create_time = #{fCreateTime,jdbcType=TIMESTAMP},
        f_update_time = #{fUpdateTime,jdbcType=TIMESTAMP},
        f_status = #{fStatus,jdbcType=SMALLINT}
        where f_eid = #{fEid,jdbcType=INTEGER}
    </update>
</mapper>